/** @format */

.auto-first {
  width: auto;
  height: 600px;
  background: #e25845;
  display: flex;
}

.auto-first-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.auto-first-left h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: #ffffff;
  margin: 0;
}

.auto-first-left p {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
  margin: 0;
  margin-top: 1rem;
}

.auto-first-right {
  width: 50%;
  height: auto;
  padding: 32px 24px 38px 24px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: -1px 5px 13px 0px #00000039;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.auto-first-right-div h6 {
  font-weight: 400;
  font-size: 22px;
  line-height: 25.24px;
  color: #3c3d40;
  margin: 0;
}

.auto-first-right-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1.5rem;
}

.auto-first-right-inputs input {
  width: auto;
  height: auto;
  padding: 9px 0px 9px 14px;
  border-radius: 4px;
  border: 1px solid #bebebe;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 18.36px;
  color: #000000;
  margin: 0;
}

.auto-first-right-inputs input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.36px;
  color: #757575;
  margin: 0;
}

.auto-first-right-box {
  width: auto;
  height: auto;
  padding: 7px 25px 7px 13px;
  border-radius: 2px;
  border: 1px solid #bebebe;
  background: #efefef;
  margin-top: 1rem;
}

.auto-first-right-box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #3c3d40;
  margin: 0;
}

.auto-first-right-checkbox {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.auto-first-right-checkbox input[type="checkbox"] {
  border: 1px solid #767676;
  margin: 0;
}

.auto-first-right-checkbox p {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #3c3d40;
  margin: 0;
  padding-top: 1rem;
}

.auto-first-right-privacy {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.auto-first-right-privacy p {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #3c3d40;
  margin: 0;
}

.auto-first-right-privacy span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
  color: #0000ff;
  margin: 0;
}

.auto-second {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.auto-second-left {
  width: 50%;
}

.auto-second-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auto-second-right {
  width: 40%;
}

.auto-second-right h6 {
  font-weight: 900;
  font-size: 30px;
  line-height: 45px;
  color: #e25845;
  margin: 0;
}

.auto-second-right p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22.4px;
  color: #3c3d40;
  margin: 0;
  margin-top: 1.5rem;
}

.auto-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  box-shadow: -1px 5px 13px 0px #00000039;
  background: #ffffff01;
  padding: 2.5rem;
  border-radius: 5px;
}

.auto-third h5 {
  font-weight: 900;
  font-size: 30px;
  line-height: 45px;
  color: #e25845;
  margin: 0;
}

.auto-third-cards {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.auto-third-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auto-third-card-image {
  width: auto;
  height: 300px;
  overflow: hidden;
}

.auto-third-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auto-third-card-text {
  margin-top: 2rem;
}

.auto-third-card-text h6 {
  font-weight: 900;
  font-size: 22px;
  line-height: 33px;
  color: #3c3d40;
  margin: 0;
  text-align: center;
}

.auto-third-card-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #3c3d40;
  margin: 0;
  text-align: center;
  margin-top: 0.5rem;
}

.auto-fouth-card-image {
  width: 160px;
  height: 160px;
  overflow: hidden;
}

.auto-fouth-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auto-fouth-card-text {
  margin-top: 5rem;
  margin-bottom: 2rem;
  width: 70%;
}

.auto-fouth-card-text h6 {
  font-weight: 900;
  font-size: 22px;
  line-height: 33px;
  color: #3c3d40;
  margin: 0;
  text-align: center;
}

.auto-fouth-card-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #3c3d40;
  margin: 0;
  text-align: center;
}

.auto-fiveth {
  width: auto;
  height: 600px;
  overflow: hidden;
  display: flex;
  margin-top: 2rem;
}

.auto-fiveth-left {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  overflow: hidden;
}

.auto-fiveth-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auto-fiveth-right {
  width: 50%;
  height: 100%;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.auto-fiveth-right h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 45px;
  color: #e25845;
  margin: 0;
}

.auto-fiveth-right p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: #3c3d40;
  margin: 0;
  margin-top: 1rem;
}

.auto-fiveth-right span {
  font-weight: 700;
  font-size: 16px;
  line-height: 22.4px;
  color: #3c3d40;
  margin: 0;
  font-style: italic;
}

.auto-sixeth {
  height: 152px;
  background: #e25845;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.auto-sixeth h6 {
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
  margin: 0;
}

.auto-second-seventh {
  width: 50%;
  border-radius: 300px;
}

.auto-second-seventh img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 300px;
}
