/** @format */

.trust-top {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.trust-top-left {
  width: 50%;
  height: 100%;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  background: #e25845;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.trust-top-left h1 {
  /* font-weight: 900; */
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  color: #ffffff;
  margin: 0;
  width: 70%;
  padding-left: 2rem;
  font-family: Montserrat !important;
}

.trust-top-left p {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
  margin: 0;
  width: 70%;
  padding-left: 2rem;
  margin-top: 1rem;
  font-family: Quicksand !important;
}

.trust-top-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  overflow: hidden;
}

.trust-top-right img {
  width: 60%;
  height: 100%;
  object-fit: cover;
}

.trust-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 3rem;
}

.trust-middle-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trust-middle-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.trust-middle-right h4 {
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  color: #000000;
  margin: 0;
  font-family: Montserrat !important;
}

.trust-middle-right p {
  font-weight: 500;
  font-size: 22px;
  line-height: 30.8px;
  color: #000000;
  margin: 0;
  font-family: Quicksand !important;
}

.trust-middle-right span {
  font-weight: 500;
  font-size: 22px;
  line-height: 30.8px;
  color: #000000;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
  font-family: Quicksand !important;
}

.trust-middle-bottom {
  margin-top: 5rem;
}

.trust-middle-bottom-heading {
  margin-bottom: 2rem;
}

.trust-middle-bottom-heading h5 {
  font-weight: 600;
  font-family: Montserrat !important;
  font-size: 40px;
  line-height: 44px;
  color: #000000;
  margin: 0;
}
